body {
    background-image: url("../Assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }

  .middle {
    margin-top: 40%;
    background-color: #F1EADF;
  }

  .header-div {
    margin-top: 150px;
  }